<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload="true"
	  throwExceptions="false" >
  <targets>
	  <target xsi:type="File" name="timeInformation" fileName="TimeInformation.log" lineEnding="CRLF"
		  layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}] ${uppercase:${level}} - (${logger})  ${message}"
		  footer="----------"/>
	<target xsi:type="File" name="logfile" fileName="SharpOffice.log" lineEnding="CRLF"
			layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}] ${uppercase:${level}} - (${logger})  ${message}"
			footer="----------"/>
	<target xsi:type="File" name="exceptions" fileName="Exceptions.log" lineEnding="CRLF"
			layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}] ${uppercase:${level}} - (${logger})  ${message}"
			footer="----------"/>
  </targets>
	
  <rules>
	<logger name="*" minlevel="Trace"  writeTo="logfile" />
	<logger name="Wieczorna_nauka_aplikacja_webowa.*" minlevel="Error"  writeTo="exceptions" />
	<logger name="Wieczorna_nauka_aplikacja_webowa.Middleware.RequestTimeMiddleware" minlevel="Trace"  writeTo="timeInformation" />
  </rules>
</nlog>